@model tech_challenge.Models.Contact_Info
@{
    var baseurl = ViewBag.BaseUrl;
    ViewData["Title"] = "Contact List";
}

<h4>List of Contacts</h4>
<hr />
<p>    
    <input type="text" id="filterText" placeholder="Search any" />
   <button class="btn btn-primary mb-2" id="btnAdd">Add Contact</button>
</p>
<div class="container">
    <table id="tblContacts" class="table table-success table-striped table-responsive table-hover custom-fontsize p-4" style="cursor:pointer;">
        <thead class="sticky-top" style="z-index:1; position:relative">
            <tr>                
                <th>
                    @Html.DisplayNameFor(model => model.contact_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contact_lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contact_firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contact_middlename)
                </th>   
                <th>
                    @Html.DisplayNameFor(model => model.location_lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.location_long)
                </th>
                <th>
                    <h7>Actions</h7>
                </th>
            </tr>
        </thead>
        <tbody id="tblBody">            
        </tbody>
    </table>
</div>
<div id="addcontactModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="createcontactModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createcontactModal"></h5>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="contact_id" value="0" />
                <input type="hidden" asp-for="contact_status" value="AC" />
                <input type="hidden" asp-for="created_by" value="user" />
                <input type="hidden" asp-for="created_dt" value="" />
                
                <div class="mb-2">
                    <label asp-for="contact_lastname"></label>
                    <input type="text" asp-for="contact_lastname" class="form-control" placeholder="Last Name" />
                </div>
                <div class="mb-2">
                    <label asp-for="contact_firstname"></label>
                    <input type="text" asp-for="contact_firstname" class="form-control" placeholder="First Name" />
                </div>
                <div class="mb-2">
                    <label asp-for="contact_middlename"></label>
                    <input type="text" asp-for="contact_middlename" class="form-control" placeholder="Middle Name" />
                </div>
                <div class="mb-2">
                    <label asp-for="contact_address"></label>
                    <input type="text" asp-for="contact_address" class="form-control" placeholder="Address" />
                </div>
                <div class="mb-2">
                    <label asp-for="contact_no"></label>
                    <input type="text" asp-for="contact_no" class="form-control" placeholder="Contact Number" />
                </div>
                <div class="mb-2">
                    <label asp-for="location_lat"></label>
                    <input type="text" asp-for="location_lat" class="form-control" placeholder="Location Latitude" />
                </div>
                <div class="mb-2">
                    <label asp-for="location_long"></label>
                    <input type="text" asp-for="location_long" class="form-control" placeholder="Location Longitude" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="Save" type="submit" onclick="InsertContact();">Save</button>
                <button class="btn btn-success" id="Update" type="submit" onclick="UpdateContact();" style="display:none">Update</button>
                <button class="btn btn-danger" data-bs-dismiss="modal" onclick="HideModal();">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="map" class="card" style="width: 100%; height: 400px; position:center"></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/app.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDzm6TlT9783SDqo2mgcl0yAOGlFAGdEw"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-3.3.1.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

<!-- prettier-ignore -->
<script>
    (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
        ({ key: "AIzaSyBDzm6TlT9783SDqo2mgcl0yAOGlFAGdEw", v: "weekly" });</script>

<script>
    $(document).ready(function () {
        $('#filterText').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });            
        });              
    });
</script>

<script type="text/javascript">
    let map;
        
    async function initMap(latVal, longVal) {
      const position = { lat: latVal, lng: longVal };
      const { Map } = await google.maps.importLibrary("maps");
      const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

      map = new Map(document.getElementById("map"), {
        zoom: 4,
        center: position,
        mapId: "DEMO_MAP_ID",
      });

      const marker = new AdvancedMarkerElement({
        map: map,
        position: position,
        title: "Philippines",
      });
    }

    initMap();
</script>

<script type="text/javascript">    
    const tbody = document.querySelector('#tblContacts tbody');
    tbody.addEventListener('click', function (e) {
        const cell = e.target.closest('td');        
        if (!cell) { return; } // Quit, not clicked on a cell
        const row = cell.parentElement;

        var loclat = parseFloat(tbody.rows[row.rowIndex - 1].cells[4].innerHTML);
        let loclong = parseFloat(tbody.rows[row.rowIndex - 1].cells[5].innerHTML);
        
        initMap(loclat, loclong);        
    });
</script>